<template name="learning_module">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Learning Resources</h3></div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr><th>Visits</th><th>ROI</th><th>Source</th><th>Description and Notes</th></tr>
          </thead>
          <tbody>
            <tr><td>45</td><td>2.45%</td><td>Direct</td><td>Sam sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
            Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
            <tr><td>289</td><td>56.2%</td><td>Referral</td><td>After RWD massa, aliquam in cursus ut, ullamcorper in tortor. 
            Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
            <tr><td>98</td><td>25%</td><td>Type</td><td>Wil sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
            Liquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
            <tr><td>109</td><td>8%</td><td>..</td><td>Forfoot aliquam in cursus ut, ullamcorper in tortor. 
            Okma mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
            <tr><td>34</td><td>14%</td><td>..</td><td>Mikel sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
            Maliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</template>